name: API Integration Tests

on:
  push:
    bransches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run:
          pip install --upgrade pip
          pip install --pytest requests

      - name: Run tests
        run:
          pytest -v

